body, html {
	height: 100%;
}

body {
	font-family: 'Cute Font', cursive, sans-serif;
}

#subscription {
  background: transparent;
  border: none;
  border-bottom: 1px solid #a9a9a9;
  box-shadow: none;
  border-radius: 0;
}

.iframe-video-size {
	width: 300px;
	height: 320px;
}

.social-media-logo {
	margin-right: 5px;
}

.separator {
	margin-bottom: 10px;
	height: 2px;
	width: 30px;
	background: rgb(255, 0, 0);
	z-index: 1;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

#advert > h1 {
	color: #ffffff;
}

#signup-link {
	color: #ffffff;
}

input[type="email"] {
 	font-size: 1em;
}

.col-sm-12, .col-md-6, .nav-link, #signup-link {
	font-size: 1.3em;
}

.link-deco:link {
	text-decoration: none;
}

.link-deco:hover {
	font-size:120%;
}

.link-font-color, button > .link-deco:hover {
	color: #ffffff;
}

.box2, .box3 {
	background: rgba(255,117,117,0.1);
}

.button-container, p, .challenge-container, #signup-container, .box3, .box2 {
	text-align: center;
}

#divider {
	width: 100%;
	border: 1px solid black;
}

footer {
	padding-top: 35px;
	padding-bottom: 35px;
	background: rgba(0, 0, 0);
	color: #ffffff;
}

.box1 {
	background:url('../static/background-mobile.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 280px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*https://codepen.io/adamjohnson/pen/aokGt*/
/* Skew button design adapted from the above codepen project*/
.submit-btn {
	color: #fff;
	background: #ff0000;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	border: 0;
	outline: 0;
	font-size: 1.2rem;
	padding: 12px 35px;
	display: inline-block;
	transform: skew(-21deg);
	border-radius: 0;
}

.input-field-container {
	display: flex;
	flex-direction: row;
}

.submit-btn:hover {
	background: #0069a8; 
}

span {
	display: inline-block; /* change to inline-block so that the text can be un-skewed*/
}

.submit-btn > span { 
	-webkit-transform: skew(21deg);  /* Un-skew the text */
}

.btn-group {
	padding-left: 15px;
}

.flag-logo {
	padding-right: 10px;
}

#club-header-background {
	background:url('../static/bodycombat.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 200px;
}

.club-header {
	text-align: center;
	background: linear-gradient(to top, #ff0000 , #800080);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 2.5em;
}

.location {
	display: flex;	
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	margin-bottom: 20px;
}

.location:link {
	text-decoration: none;
}

.location:hover {
	opacity: 0.8;
}

.location:hover .location-name, .location:hover .club-info {
	background: linear-gradient(to top, #ff0000 , #ff9800);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.location-name {
	font-size: 2.3em;
}

.club-info {
	font-size: 1.2em;
	border: 1px solid #ffffff;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
}

#location-image-1 {
	background:url('../static/paragon.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
	border-radius: 10px;
	height: 250px;
}

#location-image-2 {
	background:url('../static/clarke-quay.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
	border-radius: 10px;
	height: 250px;
}

#location-image-3 {
	background:url('../static/tanjongpagar.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
	border-radius: 10px;
	height: 250px;
}

#location-image-4 {
	background:url('../static/vivocity.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
	border-radius: 10px;
	height: 250px;
}

#location-image-5 {
	background:url('../static/rafflesplace.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
	border-radius: 10px;
	height: 250px;
}

#location-image-6 {
	background:url('../static/rafflesmall.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
	border-radius: 10px;
	height: 250px;
}

#timetables-header-background {
	background:url('../static/groupyoga.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 250px;
}

/* override text alignment and font-size*/
.table {
	text-align: center;
	font-size: 1.3rem;
}

#contact-us-background {
	background:url('../static/reachout.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 200px;	
}


.generic-submit-btn-container, .form-attribute {
	text-align: center;
}

.contact-us {
	font-size: 1.8em;
}

.generic-submit-btn-container {
	margin-bottom: 15px;
}

.form-attribute, .form-placeholder:placeholder-shown, textarea:placeholder-shown {
  font-size: 1.2em;
}

/* for extra small device */
@media (max-width: 400px) {
	.iframe-video-size {
	width: 260px;
	height: 320px;
	}

	#club-header-background {
		height: 160px;
	}

	.club-header {
		font-size: 2.0em;
	}

	.location-name {
		font-size: 2.0em;
	}
	
	.club-info {
		font-size: 1.0em;
	}
	
	.contact-us {
		font-size: 1.5em;
	}
	.box1 {
		height: 220px;
	}
}

/* for medium screen device */
@media (min-width: 768px) and (max-width: 991.98px) {
	.box1 {
		background:url('../static/background.jpg');
		background-repeat: no-repeat;
		height: 400px; /* 550 */
		background-size: 100% 100%;
	}	

	.box2 {
		text-align: center;
	}

	.btn-group {
		padding-left: 0;
	}

	.iframe-video-size {
		width: 340px;
		height: 320px;
	}

	#timetables-header-background {
		height: 450px;
	}
	
	.table {
		font-size: 1.8rem;
	}

	#contact-us-background {
		height: 450px;	
	}

	.form-attribute, .form-placeholder:placeholder-shown, textarea:placeholder-shown,
	.generic-submit-btn-container > button {
	  font-size: 1.4em;
	}
}

/* for large screen device */
@media (min-width: 992px) {
	.box1 {
		height: 600px;
	}	

	.btn-group {
		padding-left: 0;
	}

	.submit-btn {
		padding: 3px 35px;
	}

	.iframe-video-size {
		width: 470px;
		height: 320px;
	}

	#club-header-background {
		height: 376px;
	}
	
	#timetables-header-background {
		height: 600px;
	}

	#contact-us-background {
		height: 550px;	
	}
	
	.form-attribute, .form-placeholder:placeholder-shown, textarea:placeholder-shown,
	.generic-submit-btn-container > button {
	  font-size: 1.5em;
	}

}